h1 {
    color: blue;  
}

img{
    width: 250px;
    height: auto;

}
body {
    background-color: violet
    margin: 0 auto;
    text-align: center;
}

#titleBox {
    background-color: blueviolet;
    margin: 30px;
    border: 2px solid whitesmoke;

}

.listBoxIngredients {
    background-color: aquamarine;
    margin: 35px;
    border: 1px dotted purple;
}
.listBoxMethod {
    background-color:purple;
    margin: 35px;
    border: 1px dotted aquamarine;
}